articles {
  display: block;
  color: #e5e5e5;
  line-height: 1.7;
}

articles h1, articles h2, articles h3 {
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

articles p {
  margin-bottom: 1rem;
  color: #d4d4d4;
}

articles ul, articles ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

articles a {
  color: #60a5fa;
  text-decoration: none;
}

articles a:hover {
  text-decoration: underline;
}

articles blockquote {
  border-left: 4px solid #333;
  padding-left: 1rem;
  color: #999;
  font-style: italic;
}
